<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>HttpServletRequest</display-name>

	<servlet>
		<servlet-name>servlet9</servlet-name>
		<servlet-class>main.java.de.ovmedia.cloudwebfunnel.controller.ClickController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet9</servlet-name>
		<url-pattern>/cc</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>servlet11</servlet-name>
		<servlet-class>main.java.de.ovmedia.cloudwebfunnel.controller.AjaxDynSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet11</servlet-name>
		<url-pattern>/ajaxdynsave</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet10</servlet-name>
		<servlet-class>main.java.de.ovmedia.cloudwebfunnel.controller.FunnelDynamicController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet10</servlet-name>
		<url-pattern>/funneldynamic</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>servlet8</servlet-name>
		<servlet-class>main.java.de.ovmedia.cloudwebfunnel.controller.ConfirmSendEmailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet8</servlet-name>
		<url-pattern>/confirmsendemail</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>servlet7</servlet-name>
		<servlet-class>main.java.de.ovmedia.cloudwebfunnel.controller.ConfirmEmailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet7</servlet-name>
		<url-pattern>/confirmemail</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>servlet5</servlet-name>
		<servlet-class>main.java.de.ovmedia.cloudwebfunnel.controller.AjaxSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet5</servlet-name>
		<url-pattern>/ajaxsave</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>servlet4</servlet-name>
		<servlet-class>main.java.de.ovmedia.cloudwebfunnel.controller.StartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet4</servlet-name>
		<url-pattern>/start</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>