/*
.area1043 {
	margin: 0;
	display: block
}

.area1044 {
	color: rgba(0, 0, 0, .54);
	font-size: 7rem;
	font-weight: 300;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.14286em;
	margin-left: -.04em;
	letter-spacing: -.04em
}

.area1045 {
	color: rgba(0, 0, 0, .54);
	font-size: 3.5rem;
	font-weight: 400;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.30357em;
	margin-left: -.02em;
	letter-spacing: -.02em
}

.area1046 {
	color: rgba(0, 0, 0, .54);
	font-size: 2.8125rem;
	font-weight: 400;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.13333em;
	margin-left: -.02em
}

.area1047 {
	color: rgba(0, 0, 0, .54);
	font-size: 2.125rem;
	font-weight: 400;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.20588em
}

.area1048 {
	color: rgba(0, 0, 0, .87);
	font-size: 1.5rem;
	font-weight: 400;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.35417em
}

.area1049 {
	color: rgba(0, 0, 0, .87);
	font-size: 1.3125rem;
	font-weight: 500;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.16667em
}

.area1050 {
	color: rgba(0, 0, 0, .87);
	font-size: 1rem;
	font-weight: 400;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.5em
}

.area1051 {
	color: rgba(0, 0, 0, .87);
	font-size: .875rem;
	font-weight: 500;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.71429em
}

.area1052 {
	color: rgba(0, 0, 0, .87);
	font-size: .875rem;
	font-weight: 400;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.46429em
}

.area1053 {
	color: rgba(0, 0, 0, .54);
	font-size: .75rem;
	font-weight: 400;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.375em
}

.area1054 {
	color: rgba(0, 0, 0, .87);
	font-size: .875rem;
	font-weight: 500;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	text-transform: uppercase
}

.area1055 {
	text-align: left
}

.area1056 {
	text-align: center
}

.area1057 {
	text-align: right
}

.area1058 {
	text-align:.area10ustify
}

.area1059 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.area1060 {
	margin-bottom: .35em
}

.area1061 {
	margin-bottom: 16px
}

.area1062 {
	color: inherit
}

.area1063 {
	color: #2196f3
}

.area1064 {
	color: #e10050
}

.area1065 {
	color: rgba(0, 0, 0, .87)
}

.area1066 {
	color: rgba(0, 0, 0, .54)
}

.area1067 {
	color: #f44336
}

.area10126 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 0;
	position: absolute;
	overflow: hidden;
	border-radius: inherit;
	pointer-events: none
}

.area10127 {
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	opacity: 0;
	position: absolute
}

.area10128 {
	opacity: .3;
	transform: scale(1);
	animation: mui-ripple-enter 550ms cubic-bezier(.4, 0, .2, 1)
}

.area10129 {
	animation-duration: .2s
}

.area10130 {
	width: 100%;
	height: 100%;
	opacity: 1;
	display: block;
	border-radius: 50%;
	background-color: currentColor
}

.area10131 {
	opacity: 0;
	animation: mui-ripple-exit 550ms cubic-bezier(.4, 0, .2, 1)
}

.area10132 {
	top: 0;
	left: 0;
	position: absolute;
	animation: mui-ripple-pulsate 2.5s cubic-bezier(.4, 0, .2, 1) .2s
		infinite
}

@
keyframes mui-ripple-enter { 0%{
	opacity: .1;
	transform: scale(0)
}

100%{
opacity
:
.3
;transform
:scale(1)
}
}
@
keyframes mui-ripple-exit { 0%{
	opacity: 1
}

100%{
opacity
:
0
}
}
@
keyframes mui-ripple-pulsate { 0%{
	transform: scale(1)
}

50%{
transform
:scale
(
.92
)
}
100%{
transform
:scale(1)
}
}
.area10123 {
	color: inherit;
	cursor: pointer;
	margin: 0;
	border: 0;
	display: inline-flex;
	padding: 0;
	outline: 0;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	align-items: center;
	border-radius: 0;
	vertical-align: middle;
.area10ustify-content: center;
	-moz-appearance: none;
	text-decoration: none;
	background-color: transparent;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent
}

.area10123::-moz-focus-inner {
	border-style: none
}

.area10123.area10124 {
	cursor: default;
	pointer-events: none
}

.area1097 {
	color: rgba(0, 0, 0, .87);
	padding: 8px 16px;
	font-size: .875rem;
	min-width: 64px;
	transition: background-color 250ms cubic-bezier(.4, 0, .2, 1) 0s,
		box-shadow 250ms cubic-bezier(.4, 0, .2, 1) 0s, border 250ms
		cubic-bezier(.4, 0, .2, 1) 0s;
	min-height: 36px;
	box-sizing: border-box;
	line-height: 1.4em;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 500;
	border-radius: 4px;
	text-transform: uppercase
}

.area1097:hover {
	text-decoration: none;
	background-color: rgba(0, 0, 0, .08)
}

.area1097.area10117 {
	color: rgba(0, 0, 0, .26)
}

@media ( hover :none) {
	.area1097:hover {
		background-color: transparent
	}
}

.area1097:hover.area10117 {
	background-color: transparent
}

.area1098 {
	width: 100%;
	display: inherit;
	align-items: inherit;
.area10ustify-content: inherit
}

.area10100 {
	color: #2196f3
}

.area10100:hover {
	background-color: rgba(33, 150, 243, .08)
}

@media ( hover :none) {
	.area10100:hover {
		background-color: transparent
	}
}

.area10101 {
	color: #e10050
}

.area10101:hover {
	background-color: rgba(225, 0, 80, .08)
}

@media ( hover :none) {
	.area10101:hover {
		background-color: transparent
	}
}

.area10105 {
	border: 1px solid rgba(0, 0, 0, .23)
}

.area10106 {
	border: 1px solid rgba(33, 150, 243, .5)
}

.area10106:hover {
	border: 1px solid #2196f3
}

.area10107 {
	border: 1px solid rgba(225, 0, 80, .5)
}

.area10107:hover {
	border: 1px solid #e10050
}

.area10108 {
	color: rgba(0, 0, 0, .87);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0
		rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
	background-color: #e0e0e0
}

.area10108.area10116 {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0
		rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.area10108:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px
		rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12)
}

.area10108.area10117 {
	color: rgba(0, 0, 0, .26);
	box-shadow: none;
	background-color: rgba(0, 0, 0, .12)
}

.area10108:hover {
	background-color: #d5d5d5
}

@media ( hover :none) {
	.area10108:hover {
		background-color: #e0e0e0
	}
}

.area10108:hover.area10117 {
	background-color: rgba(0, 0, 0, .12)
}

.area10109 {
	color: #fff;
	background-color: #2196f3
}

.area10109:hover {
	background-color: #1976d2
}

@media ( hover :none) {
	.area10109:hover {
		background-color: #2196f3
	}
}

.area10110 {
	color: #fff;
	background-color: #e10050
}

.area10110:hover {
	background-color: #9d0038
}

@media ( hover :none) {
	.area10110:hover {
		background-color: #e10050
	}
}

.area10114 {
	width: 56px;
	height: 56px;
	padding: 0;
	min-width: 0;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0
		rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
	border-radius: 50%
}

.area10114:active {
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px
		rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12)
}

.area10115 {
	width: auto;
	height: 48px;
	padding: 0 16px;
	min-width: 48px;
	border-radius: 24px
}

.area10118 {
	color: inherit
}

.area10119 {
	width: 40px;
	height: 40px
}

.area10120 {
	padding: 7px 8px;
	min-width: 64px;
	font-size: .8125rem;
	min-height: 32px
}

.area10121 {
	padding: 8px 24px;
	min-width: 112px;
	font-size: .9375rem;
	min-height: 40px
}

.area10122 {
	width: 100%
}

.area1036 {
	fill: currentColor;
	width: 1em;
	height: 1em;
	display: inline-block;
	font-size: 24px;
	transition: fill .2s cubic-bezier(.4, 0, .2, 1) 0s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	flex-shrink: 0
}

.area1037 {
	color: #2196f3
}

.area1038 {
	color: #e10050
}

.area1039 {
	color: rgba(0, 0, 0, .54)
}

.area1040 {
	color: #f44336
}

.area1041 {
	color: rgba(0, 0, 0, .26)
}

.area1042 {
	font-size: inherit
}

.area106 {
	background-color: #fff
}

.area107 {
	border-radius: 4px
}

.area108 {
	box-shadow: none
}

.area109 {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0
		rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12)
}

.area1010 {
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0
		rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12)
}

.area1011 {
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0
		rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12)
}

.area1012 {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0
		rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.area1013 {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0
		rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12)
}

.area1014 {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0
		rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.area1015 {
	box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px
		rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12)
}

.area1016 {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px
		rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12)
}

.area1017 {
	box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .2), 0 9px 12px 1px
		rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12)
}

.area1018 {
	box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px
		rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12)
}

.area1019 {
	box-shadow: 0 6px 7px -4px rgba(0, 0, 0, .2), 0 11px 15px 1px
		rgba(0, 0, 0, .14), 0 4px 20px 3px rgba(0, 0, 0, .12)
}

.area1020 {
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px
		rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12)
}

.area1021 {
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px
		rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12)
}

.area1022 {
	box-shadow: 0 7px 9px -4px rgba(0, 0, 0, .2), 0 14px 21px 2px
		rgba(0, 0, 0, .14), 0 5px 26px 4px rgba(0, 0, 0, .12)
}

.area1023 {
	box-shadow: 0 8px 9px -5px rgba(0, 0, 0, .2), 0 15px 22px 2px
		rgba(0, 0, 0, .14), 0 6px 28px 5px rgba(0, 0, 0, .12)
}

.area1024 {
	box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px
		rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12)
}

.area1025 {
	box-shadow: 0 8px 11px -5px rgba(0, 0, 0, .2), 0 17px 26px 2px
		rgba(0, 0, 0, .14), 0 6px 32px 5px rgba(0, 0, 0, .12)
}

.area1026 {
	box-shadow: 0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px
		rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12)
}

.area1027 {
	box-shadow: 0 9px 12px -6px rgba(0, 0, 0, .2), 0 19px 29px 2px
		rgba(0, 0, 0, .14), 0 7px 36px 6px rgba(0, 0, 0, .12)
}

.area1028 {
	box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 20px 31px 3px
		rgba(0, 0, 0, .14), 0 8px 38px 7px rgba(0, 0, 0, .12)
}

.area1029 {
	box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 21px 33px 3px
		rgba(0, 0, 0, .14), 0 8px 40px 7px rgba(0, 0, 0, .12)
}

.area1030 {
	box-shadow: 0 10px 14px -6px rgba(0, 0, 0, .2), 0 22px 35px 3px
		rgba(0, 0, 0, .14), 0 8px 42px 7px rgba(0, 0, 0, .12)
}

.area1031 {
	box-shadow: 0 11px 14px -7px rgba(0, 0, 0, .2), 0 23px 36px 3px
		rgba(0, 0, 0, .14), 0 9px 44px 8px rgba(0, 0, 0, .12)
}

.area1032 {
	box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px
		rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12)
}

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

*, ::after, ::before {
	box-sizing: inherit
}

body {
	margin: 0;
	background-color: #fafafa
}

@media print {
	body {
		background-color: #fff
	}
}

.area1084 {
	color: rgba(0, 0, 0, .87);
	display: inline-flex;
	position: relative;
	font-size: 1rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.1875em
}

.area1084.area1087 {
	color: rgba(0, 0, 0, .38)
}

label+.area1085 {
	margin-top: 16px
}

.area1088:after {
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	position: absolute;
	transform: scaleX(0);
	transition: transform .2s cubic-bezier(0, 0, .2, 1) 0s;
	border-bottom: 2px solid #1976d2;
	pointer-events: none
}

.area1088.area1086:after {
	transform: scaleX(1)
}

.area1088.area1089:after {
	transform: scaleX(1);
	border-bottom-color: #f44336
}

.area1088:before {
	left: 0;
	right: 0;
	bottom: 0;
	content: "\00a0";
	position: absolute;
	transition: border-bottom-color .2s cubic-bezier(.4, 0, .2, 1) 0s;
	border-bottom: 1px solid rgba(0, 0, 0, .42);
	pointer-events: none
}

.area1088:hover:not (.area1087 ):not (.area1086 ):not (.area1089 ):before {
	border-bottom: 2px solid rgba(0, 0, 0, .87)
}

.area1088.area1087:before {
	border-bottom: 1px dotted rgba(0, 0, 0, .42)
}

.area1090 {
	padding: 6px 0 7px
}

.area1091 {
	width: 100%
}

.area1092 {
	font: inherit;
	color: currentColor;
	border: 0;
	margin: 0;
	padding: 6px 0 7px;
	display: block;
	min-width: 0;
	flex-grow: 1;
	box-sizing: content-box;
	background: 0 0;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent
}

.area1092::-webkit-input-placeholder {
	color: currentColor;
	opacity: .42;
	transition: opacity .2s cubic-bezier(.4, 0, .2, 1) 0s
}

.area1092::-moz-placeholder {
	color: currentColor;
	opacity: .42;
	transition: opacity .2s cubic-bezier(.4, 0, .2, 1) 0s
}

.area1092:-ms-input-placeholder {
	color: currentColor;
	opacity: .42;
	transition: opacity .2s cubic-bezier(.4, 0, .2, 1) 0s
}

.area1092::-ms-input-placeholder {
	color: currentColor;
	opacity: .42;
	transition: opacity .2s cubic-bezier(.4, 0, .2, 1) 0s
}

.area1092:focus {
	outline: 0
}

.area1092:invalid {
	box-shadow: none
}

.area1092::-webkit-search-decoration {
	-webkit-appearance: none
}

.area1092.area1087 {
	opacity: 1
}

label[data-shrink=false]+.area1085 .area1092::-webkit-input-placeholder {
	opacity: 0
}

label[data-shrink=false]+.area1085 .area1092::-moz-placeholder {
	opacity: 0
}

label[data-shrink=false]+.area1085 .area1092:-ms-input-placeholder {
	opacity: 0
}

label[data-shrink=false]+.area1085 .area1092::-ms-input-placeholder {
	opacity: 0
}

label[data-shrink=false]+.area1085 .area1092:focus::-webkit-input-placeholder {
	opacity: .42
}

label[data-shrink=false]+.area1085 .area1092:focus::-moz-placeholder {
	opacity: .42
}

label[data-shrink=false]+.area1085 .area1092:focus:-ms-input-placeholder {
	opacity: .42
}

label[data-shrink=false]+.area1085 .area1092:focus::-ms-input-placeholder {
	opacity: .42
}

.area1093 {
	padding-top: 3px
}

.area1094 {
	resize: none;
	padding: 0
}

.area1095 {
	height: 1.1875em
}

.area1096 {
	-moz-appearance: textfield;
	-webkit-appearance: textfield
}

.area1077 {
	color: rgba(0, 0, 0, .54);
	padding: 0;
	font-size: 1rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1
}

.area1077.area1078 {
	color: #1976d2
}

.area1077.area1079 {
	color: rgba(0, 0, 0, .38)
}

.area1077.area1080 {
	color: #f44336
}

.area1083.area1080 {
	color: #f44336
}

.area1072 {
	transform-origin: top left
}

.area1073 {
	top: 0;
	left: 0;
	position: absolute;
	transform: translate(0, 24px) scale(1)
}

.area1074 {
	transform: translate(0, 21px) scale(1)
}

.area1075 {
	transform: translate(0, 1.5px) scale(.75);
	transform-origin: top left
}

.area1076 {
	transition: transform .2s cubic-bezier(0, 0, .2, 1) 0s
}

.area1068 {
	margin: 0;
	border: 0;
	display: inline-flex;
	padding: 0;
	position: relative;
	min-width: 0;
	flex-direction: column
}

.area1069 {
	margin-top: 16px;
	margin-bottom: 8px
}

.area1070 {
	margin-top: 8px;
	margin-bottom: 4px
}

.area1071 {
	width: 100%
}

.area1033 {
	width: 40px;
	height: 40px;
	display: flex;
	position: relative;
	overflow: hidden;
	font-size: 1.25rem;
	flex-shrink: 0;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 50%;
.area10ustify-content: center
}

.area1034 {
	color: #fafafa;
	background-color: #bdbdbd
}

.area1035 {
	width: 100%;
	height: 100%;
	text-align: center;
	o.area10ect-fit: cover
}

.area101 {
	width: auto;
	margin-left: 24px;
	margin-right: 24px
}

@media ( min-width :448px) {
	.area101 {
		width: 400px;
		margin-left: auto;
		margin-right: auto
	}
}

.area102 {
	display: flex;
	padding: 16px 24px 24px;
	margin-top: 64px;
	align-items: center;
	flex-direction: column
}

.area103 {
	margin: 8px;
	background-color: #e10050
}

.area104 {
	margin-top: 8px
}

.area105 {
	margin-top: 24px
}
*/



.area1043{margin:0;display:block;}
.area1048{color:rgba(0, 0, 0, .87);font-size:1.5rem;font-weight:400;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.35417em;}
.area10126{top:0;left:0;width:100%;height:100%;display:block;z-index:0;position:absolute;overflow:hidden;border-radius:inherit;pointer-events:none;}
.area10123{color:inherit;cursor:pointer;margin:0;border:0;display:inline-flex;padding:0;outline:0;position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;align-items:center;border-radius:0;vertical-align:middle;.area10ustify-content:center;-moz-appearance:none;text-decoration:none;background-color:transparent;-webkit-appearance:none;-webkit-tap-highlight-color:transparent;}
.area10123::-moz-focus-inner{border-style:none;}
.area1097{color:rgba(0, 0, 0, .87);padding:8px 16px;font-size:.875rem;min-width:64px;transition:background-color 250ms cubic-bezier(.4, 0, .2, 1) 0s, 		box-shadow 250ms cubic-bezier(.4, 0, .2, 1) 0s, border 250ms 		cubic-bezier(.4, 0, .2, 1) 0s;min-height:36px;box-sizing:border-box;line-height:1.4em;font-family:Roboto, Helvetica, Arial, sans-serif;font-weight:500;border-radius:4px;text-transform:uppercase;}
.area1097:hover{text-decoration:none;background-color:rgba(0, 0, 0, .08);}
@media ( hover :none){
.area1097:hover{background-color:transparent;}
}
.area1098{width:100%;display:inherit;align-items:inherit;

	text-align: center;
display: inline-block;
	
}
.area10108{color:rgba(0, 0, 0, .87);box-shadow:0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 		rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);background-color:#e0e0e0;}
.area10108:active{box-shadow:0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px 		rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);}
.area10108:hover{background-color:#d5d5d5;}
@media ( hover :none){
.area10108:hover{background-color:#e0e0e0;}
}
.area10109{color:#fff;background-color:#2196f3;}
.area10109:hover{background-color:#1976d2;}
@media ( hover :none){
.area10109:hover{background-color:#2196f3;}
}
.area10122{width:100%;}
.area1036{fill:currentColor;width:1em;height:1em;display:inline-block;font-size:24px;transition:fill .2s cubic-bezier(.4, 0, .2, 1) 0s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;flex-shrink:0;}
.area106{background-color:#fff;}
.area107{border-radius:4px;}
.area1010{box-shadow:0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 		rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);}
*,::after,::before{box-sizing:inherit;}
body{margin:0;background-color:#fafafa;}
@media print{
body{background-color:#fff;}
}
.area1084{color:rgba(0, 0, 0, .87);display:inline-flex;position:relative;font-size:1rem;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.1875em;}
label+.area1085{margin-top:16px;}
.area1088:after{left:0;right:0;bottom:0;content:"";position:absolute;transform:scaleX(0);transition:transform .2s cubic-bezier(0, 0, .2, 1) 0s;border-bottom:2px solid #1976d2;pointer-events:none;}
.area1088:before{left:0;right:0;bottom:0;content:"\00a0";position:absolute;transition:border-bottom-color .2s cubic-bezier(.4, 0, .2, 1) 0s;border-bottom:1px solid rgba(0, 0, 0, .42);pointer-events:none;}
.area1092{font:inherit;color:currentColor;border:0;margin:0;padding:6px 0 7px;display:block;min-width:0;flex-grow:1;box-sizing:content-box;background:0 0;vertical-align:middle;-webkit-tap-highlight-color:transparent;}
.area1092::-webkit-input-placeholder{color:currentColor;opacity:.42;transition:opacity .2s cubic-bezier(.4, 0, .2, 1) 0s;}
.area1092::-moz-placeholder{color:currentColor;opacity:.42;transition:opacity .2s cubic-bezier(.4, 0, .2, 1) 0s;}
.area1092:-ms-input-placeholder{color:currentColor;opacity:.42;transition:opacity .2s cubic-bezier(.4, 0, .2, 1) 0s;}
.area1092::-ms-input-placeholder{color:currentColor;opacity:.42;transition:opacity .2s cubic-bezier(.4, 0, .2, 1) 0s;}
.area1092:focus{outline:0;}
.area1092:invalid{box-shadow:none;}
label[data-shrink=false]+.area1085 .area1092::-webkit-input-placeholder{opacity:0;}
label[data-shrink=false]+.area1085 .area1092::-moz-placeholder{opacity:0;}
label[data-shrink=false]+.area1085 .area1092:-ms-input-placeholder{opacity:0;}
label[data-shrink=false]+.area1085 .area1092::-ms-input-placeholder{opacity:0;}
label[data-shrink=false]+.area1085 .area1092:focus::-webkit-input-placeholder{opacity:.42;}
label[data-shrink=false]+.area1085 .area1092:focus::-moz-placeholder{opacity:.42;}
label[data-shrink=false]+.area1085 .area1092:focus:-ms-input-placeholder{opacity:.42;}
label[data-shrink=false]+.area1085 .area1092:focus::-ms-input-placeholder{opacity:.42;}
.area1095{height:1.1875em;}
.area1077{color:rgba(0, 0, 0, .54);padding:0;font-size:1rem;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1;}
.area1072{transform-origin:top left;}
.area1073{top:0;left:0;position:absolute;transform:translate(0, 24px) scale(1);}
.area1076{transition:transform .2s cubic-bezier(0, 0, .2, 1) 0s;}
.area1068{margin:0;border:0;display:inline-flex;padding:0;position:relative;min-width:0;flex-direction:column;}
.area1069{margin-top:16px;margin-bottom:8px;}
.area1071{width:100%;}
.area1033{width:40px;height:40px;display:flex;position:relative;overflow:hidden;font-size:1.25rem;flex-shrink:0;font-family:Roboto, Helvetica, Arial, sans-serif;align-items:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border-radius:50%;.area10ustify-content:center;}
.area1034{color:#fafafa;background-color:#bdbdbd;}
.area102{display:flex;padding:16px 24px 24px;margin-top:64px;align-items:center;flex-direction:column;}
.area103{margin:8px;background-color:#e10050;
	display: block;
text-align: center;
padding: 7px;
	
}
.area104{margin-top:8px;}
.area105{margin-top:24px;}
