{% extends "baselayout_simplepage_funnel.twig" %}
{% set pagetitle="Welcome at your internal Area | mailitfor.me" %}
{% set pagemetadescription="dont forget any appointment" %}
{% block main_content %}



<!-- content Begin -->

<link href="/cloudexternal/css/pflege/main.album.css?v=1.5" rel="stylesheet">

<div id="grid-cont">
	<section class="grid_outer chapter">


		<div class="article-content">
			<div>



  				<h1 class="chapter-title">Bitte best&auml;tigen Sie jetzt ihre Emailadresse</h1>
                <div style="line-height: 1.3em; font-size: 1.2em;">
                <div style="font-weight:bold;">
                Wir haben ihnen eine Email gesendet, das kann aber 2-3 Minuten dauern.<br>
                </div>
                <div>
                <br>
                Bitte klicken Sie auf den darin enthaltenen Best&auml;tigungslink.<br>
                <br>
                Pr&uuml;fen Sie bitte auch ihren SPAM Ordner.<br>
                </div>
                </div>
      </div>
    </div>
  </section>
</div>

<!-- content End -->



{% endblock %}