


        <div class="extended-content-container">
            <div class="extended-content">
            <div class="footer-content">

              <a style="color: #ffffff !important;" href="https://www.ovenga.com/impressum/">Impressum</a>, 
	      <a style="color: #ffffff !important;" href="https://www.ovenga.com/datenschutz/">Datenschutz</a>, 
	      <a style="color: #ffffff !important;" href="https://www.ovenga.com/agb/">AGB</a>

            </div>              
            </div>
        </div>