<div class="content-container">
  <div class="content">
	               
      {% for qkey, qvalue in elementdatax.questions %}    			
        <div>{{qvalue.question}}	{{qvalue.image}}</div>
      {% endfor %}

  </div>
</div>
