<div class="content-container">
  <div class="content" style="/*overflow:hidden;max-height:200px;*/">
<img src="{{elementdatax.url}}" alt="{{elementdatax.alt}}" title="{{elementdatax.title}}" style="max-width:100%;max-height:100%;">
  </div>
</div>
