<div class="content-container">
  <div class="content">
<iframe style="display:block;width:100%;    padding-top: 10px;    padding-bottom: 20px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="788.54" height="443" type="text/html" 
 src="{{elementdatax.url}}">
</iframe>
  </div>
</div>
