

<div>
{% for exkey, exvalue in elementdatax %} 
<div style="float:left;width:50%;overflow: hidden;">
 {% include 'dynamicfunnel_'~exvalue.elementtype~'.twig' with {'elementdatax': exvalue.elementdata} %} 
</div>
{% endfor %}
<div style="clear:both;"></div>
</div>
