
<div class="extended-content-container">
 <div class="extended-content">             
  <div class="header-content" style="background-color:{{elementdatax.backgroundcolor}}">
<h1 style="color:{{elementdatax.fontcolor}};padding: 20px;margin: 0px;">{{elementdatax.text}}</h1>
  </div>
 </div>
</div>
